################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
# the project part is maybe the only one you will need to modify for a new
# project
[project]
eggs-directory=../../eggs/cache
develop-eggs-directory=develop-eggs

directory=${buildout:directory}/../../
dependencies=${buildout:directory}/../../dependencies
parts =
    part
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
python = python2.4
executable = python2.4
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
parts-directory = ${parts:directory}
eggs-directory = ${project:eggs-directory}
develop-eggs-directory = ${project:develop-eggs-directory}
develop =

# Set our 2.4 python
[python2.4]
executable=${project:dependencies}/python-2.4/part/bin/python
name=python2.4

[versions]
bopen.recipe.libinc = 0.2.1
hexagonit.recipe.cmmi = 1.1.1
hexagonit.recipe.download = 1.2.0
setuptools = 0.6c9

[parts]
directory=${buildout:directory}

[replace]
location=${project:dependencies}/replace/part
include=${project:dependencies}/replace/part/include
lib=${project:dependencies}/replace/part/lib
[libxml2]
location=${project:dependencies}/libxml2-2.6/part
include=${project:dependencies}/libxml2-2.6/part/include
lib=${project:dependencies}/libxml2-2.6/part/lib
[expat]
location=${project:dependencies}/expat-2.0/part
include=${project:dependencies}/expat-2.0/part/include
lib=${project:dependencies}/expat-2.0/part/lib
[freetype]
location=${project:dependencies}/freetype-2.1/part
include=${project:dependencies}/freetype-2.1/part/include
lib=${project:dependencies}/freetype-2.1/part/lib
[zlib]
location=${project:dependencies}/zlib-1.2/part
include=${project:dependencies}/zlib-1.2/part/include
lib=${project:dependencies}/zlib-1.2/part/lib
[glib]
location=${project:dependencies}/glib-2.16/part
include=${project:dependencies}/glib-2.16/part/include
lib=${project:dependencies}/glib-2.16/part/lib
[fontconfig]
location=${project:dependencies}/fontconfig-2.5/part
include=${project:dependencies}/fontconfig-2.5/part/include
lib=${project:dependencies}/fontconfig-2.5/part/lib
[libpng]
location=${project:dependencies}/libpng-1.2/part
include=${project:dependencies}/libpng-1.2/part/include
lib=${project:dependencies}/libpng-1.2/part/lib
[libjpeg]
location=${project:dependencies}/libjpeg-6b/part
include=${project:dependencies}/libjpeg-6b/part/include
lib=${project:dependencies}/libjpeg-6b/part/lib
[libiconv]
location=${project:dependencies}/libiconv-1.12/part
include=${project:dependencies}/libiconv-1.12/part/include
lib=${project:dependencies}/libiconv-1.12/part/lib
[libgd]
location=${project:dependencies}/libgd-2.0/part
include=${project:dependencies}/libgd-2.0/part/include
lib=${project:dependencies}/libgd-2.0/part/lib

[part]
recipe = minitage.recipe:cmmi
url =http://www.graphviz.org/pub/graphviz/ARCHIVE/graphviz-2.18.tar.gz
md5sum = 7df2705482c86fc7a9ee5f0446ed0b9e
configure-options =
    --enable-python=no
    --enable-php=no
    --enable-perl=no
    --enable-ocaml=no
    --enable-lua=no
    --enable-java=no
    --enable-io=no
    --enable-guile=no
    --enable-sharp=no
    --enable-swig=no
    --enable-r=no
    --enable-ruby=no
    --enable-tcl=no
    --with-expatincludedir=${expat:include}
    --with-expatlibdir=${expat:lib}
    --with-zincludedir=${zlib:include}
    --with-zlibdir=${zlib:lib}
    --with-freetype2
    --with-fontconfig
    --with-libgd
    --with-gdincludedir=${libgd:include}
    --with-gdlibdir=${libgd:lib}
    --with-iconvincludedir=${libiconv:include}
    --with-iconvlibdir=${libiconv:lib}
    --with-libiconv-prefix=${libiconv:location}
    --with-pngincludedir=${libpng:include}
    --with-pnglibdir=${libpng:lib}
    --with-jpegincludedir=${libjpeg:include}
    --with-jpeglibdir=${libjpeg:lib}
    --with-gdk-pixbuf=no
    --with-gtk=no
    --with-gtkgl=no
    --with-gtkglext=no
    --with-glade=no
    --with-rsvg=no
    --with-pangocairo=no
    --with-x=no
    CFLAGS="   -I${libxml2:include} -I${glib:include} "
    CPPFLAGS=" -I${libxml2:include} -I${glib:include} "
    CXXFLAGS=" -I${libxml2:include} -I${glib:include} "
    LDFLAGS="$(bash -c "if [[ $(uname) == 'Darwin' ]];then echo '-mmacosx-version-min=10.5.0';fi") -Wl,-rpath -Wl,${zlib:lib} -Wl,-rpath -Wl,${expat:lib} -Wl,-rpath -Wl,${libxml2:lib} -Wl,-rpath -Wl,${freetype:lib} -Wl,-rpath -Wl,${parts:directory}/part/lib -Wl,-rpath -Wl,${libjpeg:lib} -Wl,-rpath -Wl,${libpng:lib} -Wl,-rpath -Wl,${libiconv:lib} -Wl,-rpath -Wl,${libgd:lib} -Wl,-rpath -Wl,${fontconfig:lib} -Wl,-rpath -Wl,${expat:lib} -Wl,-rpath -Wl,${glib:lib} -L${glib:lib} -L${libxml2:lib} -Wl,-rpath -Wl,${libxml2:lib} "
    FREETYPE2_LIBS="$(bash -c "if [[ $(uname) == 'Darwin' ]];then echo '-mmacosx-version-min=10.5.0';fi") -Wl,-rpath -Wl,${zlib:lib} -Wl,-rpath -Wl,${expat:lib} -Wl,-rpath -Wl,${libxml2:lib} -Wl,-rpath -Wl,${freetype:lib} -Wl,-rpath -Wl,${parts:directory}/part/lib -Wl,-rpath -Wl,${libjpeg:lib} -Wl,-rpath -Wl,${libpng:lib} -Wl,-rpath -Wl,${libiconv:lib} -Wl,-rpath -Wl,${libgd:lib} -Wl,-rpath -Wl,${fontconfig:lib} -Wl,-rpath -Wl,${expat:lib} -Wl,-rpath -Wl,${glib:lib} -L${glib:lib} -L${libxml2:lib} -Wl,-rpath -Wl,${libxml2:lib} "
    FONTCONFIG_LIBS="$(bash -c "if [[ $(uname) == 'Darwin' ]];then echo '-mmacosx-version-min=10.5.0';fi") -Wl,-rpath -Wl,${zlib:lib} -Wl,-rpath -Wl,${expat:lib} -Wl,-rpath -Wl,${libxml2:lib} -Wl,-rpath -Wl,${freetype:lib} -Wl,-rpath -Wl,${parts:directory}/part/lib -Wl,-rpath -Wl,${libjpeg:lib} -Wl,-rpath -Wl,${libpng:lib} -Wl,-rpath -Wl,${libiconv:lib} -Wl,-rpath -Wl,${libgd:lib} -Wl,-rpath -Wl,${fontconfig:lib} -Wl,-rpath -Wl,${expat:lib} -Wl,-rpath -Wl,${glib:lib} -L${glib:lib} -L${libxml2:lib} -Wl,-rpath -Wl,${libxml2:lib} "
    LIBS="$(bash -c "if [[ $(uname) == 'Darwin' ]];then echo '-mmacosx-version-min=10.5.0';fi") -Wl,-rpath -Wl,${zlib:lib} -Wl,-rpath -Wl,${expat:lib} -Wl,-rpath -Wl,${libxml2:lib} -Wl,-rpath -Wl,${freetype:lib} -Wl,-rpath -Wl,${parts:directory}/part/lib -Wl,-rpath -Wl,${libjpeg:lib} -Wl,-rpath -Wl,${libpng:lib} -Wl,-rpath -Wl,${libiconv:lib} -Wl,-rpath -Wl,${libgd:lib} -Wl,-rpath -Wl,${fontconfig:lib} -Wl,-rpath -Wl,${expat:lib} -Wl,-rpath -Wl,${glib:lib} -L${glib:lib} -L${libxml2:lib} -Wl,-rpath -Wl,${libxml2:lib}"

